<%= form_for @user do |f| %>

  <% @user.errors.full_messages.each do |err|  %>
    <p><%= err %>.</p>
  <% end %>

  <hr>

  <%= field_with_errors(@user, :username) %>
  <%= f.label :username, "Your name here" %>
  <%= f.text_field :username %>

  <%= field_with_errors(@user, :email) %>
  <%= f.label :email, "Your email" %>
  <%= f.email_field :email, :placeholder => "example@example.com" %>

  <%= field_with_errors(@user, :password) %>
  <%= f.label :password, "Your password" %>
  <%= f.password_field :password %>

  <%= f.submit "Submit" %>

<% end %>